@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura-lt;
  src: url('./assets/fonts/FuturaLT-Light.woff') format("woff");
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/futura\ light\ bt.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/Futura\ Light\ Italic\ font.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/futura\ medium\ bt.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/Futura\ Medium\ Italic\ font.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/Futura\ Heavy\ font.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/Futura\ Heavy\ Italic\ font.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Futura;
  src: url('./assets/fonts/Futura/Futura\ Bold\ font.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face { /* https://www.w3schools.com/css/css3_fonts.asp */
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf') format("truetype")
}


/* header stuff*/
header {
  position: fixed;
  z-index: 1;
  /* position: fixed; */
  top: 0px;
  width: 100vw;
  height: clamp(60px, 5vw, 80px); /* keep between 60px and 100px */
  background-color: rgba(245, 112, 41, 1); /** Old: rgba(255, 94, 41, 1) */
  backdrop-filter: blur(10px);
  /* box-shadow: 0px, 20px, 20px, 0px, #ff0000; */
  /* box-shadow: 0 -20px 30px 15px rgba(0,0,0,0.5); */
  /* background-image:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); */
  display: flex;
  align-content: center;
  justify-content: left;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  
}

/* body stuff */
body {
  position: relative;
  margin: 0px;
  margin-top: clamp(60px, 5vw, 80px);
  left: 0px;
  width: 100%;
  height: 200%;
  background-color: #f3f4ec; /* not final. for seeing where different elements start and end. */
}

/* header 1*/
h1{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 100;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* formatting title stuff */
#title {
  /* centering general box ig?? */
  z-index: 2;
  position: relative;
  margin: 0px;
  margin-left: clamp(15px, 2.5vw, 30px); /* clamp range scaled for percentage of viewport width */
  height: fit-content;
  width: max-content;
  font-weight: bolder;

  /* text stuff */
  align-self: center;
  font-size: clamp(18px, 3vw, 36px); /* clamp range scaled for percentage of viewport width */
  /* color: orangered; */
  color: white;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline-block;
  white-space: nowrap;
  
}
a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  
}

a:hover{
  color: #d0d0d0
}

/* logo */
#logo {
  z-index: 2;
  position: relative;
  scale: 80%;
}

#alastor {
  width: 100%;
  background-color: black;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* to evenly space and put the links at the top */
.links {
  position: relative;
  font-size: 1.25vw;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Futura-lt, 'Courier New', Courier, monospace;
  font-style: normal;
  color: white;
}

/* text content */
.text-content {
  margin-left: 50%;
  transform: translateX(-50%);
  color: rgb(83,83,83);
  width: 50%;
  min-width: 350px;
  margin-top: 16px;
  font-family: sans-serif;
}


/* body image */
.body-img{
  margin-left: 50%;
  transform: translateX(-50%);
  height: 40vmin;
  margin-top: 24px;
  margin-bottom: 24px;
  
}


/* image container? */
.info-card-holder{
  position: relative;
  width: 60%;
  left: 50%;
  min-width: 350px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: var(--gap-amount);
  row-gap: var(--gap-amount); */
}

.info-card{
  border-radius: 10px;
  margin: var(--gap-amount);
  position: relative;
  width: calc(100% / var(--row-length) - (var(--gap-amount) * (var(--row-length)))); 
  /*100% / (#of images per row), - (gap * #of images per row -1) */
  height: auto;
  text-align: center;
  text-justify: center;
  
}

/* text overlay */
.info-card div{
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 0.9vw, 100px);
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: opacity 0.3s;
  opacity: 0;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/* set opacity on hover on info card */
.info-card:hover div{
  opacity: 1;
}
/* blur and dim background on hover*/
.info-card:hover img{
  filter: blur(4px) brightness(50%);
}

/* image */
.info-card img{ 
  transition: filter 0.3s;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: auto;
}

/* change the amount of info cards per row depending on width of screen */
@media (max-width: 900px) {
  .info-card-holder {
    --row-length: 2;
  }
}

@media (min-width: 900px) {
  .info-card-holder {
    --row-length: 3;
  }
}


/* editing the splash image */
.splash-screen {
  /* moving image */
  position: relative;
  width: 100%;
  /* moving image */
  top: -25%;
  /* object-fit: fill; https://www.w3schools.com/css/css3_object-fit.asp */
  
  opacity: 0.74;
}

.splash-screen-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 575px;
  overflow: hidden;
  background-color:black;
}

/* editing the footer at the bottom of the page */
.footer {
  width: 100%;
  background-color: rgb(49, 49, 49);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Futura-lt;
  font-weight: light;
  color: white;
}


/* icon wrapper */
.icon-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 1%;
}

.footer-scale {
  width: 45px;
  height: 45px;
}

/* combined left-robot-title and right-robot-title into robot-title. added style="text-align: left/right" in html */
.robot-title {
  font-weight: bolder;
  font-size: 2.5vw;
  font-family: Futura-lt, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: light;

}

.robot-images { 

  /* Change these two (left and right) to move things more in/out */
  margin-left: 16%; /* originally 5 */
  margin-right: 16%; /* originally 5 */
  margin-bottom: 1%;
  margin-top: 10%;
}

.robot-images img {
  width: 50%;
  height: auto;
  border-radius: 2.5px;
}

.robot-description {
  display: flex;
  margin-bottom: 5%;
}

/* .robot-description img {
  width: 80%;
  height: 80%;
} */

.robot-description-text {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 125%;
  font-family: Futura-lt;
  text-align: center;
  font-weight: light;

}

.robot-title-link {
  color: black;
  /* text-decoration: underline; */
}

.outreach-images {
  position: relative;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.outreach-images img {
  width: 100%;
  height: auto;
  border-radius: 2.5px;
}

.outreach-image-text {
  display: flex; 
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 2.5%;
  align-items: center;
  font-weight: bolder;
  font-family: Futura-m;
  font-size: 1.25vw;
  font-weight: light;

}

.outreach-info {
  background-color: #242323;
  color: white;
}


/* cleaned up subpage style to use 3 classes istead of 12 */

/* ----------titles---------- */

.subpage-title {
  position: relative;
  display: flex;
  font-size: 3vw;
  font-family: Futura-n;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 1%;
  padding-top: 2.5%;
  font-weight: light;

  /* justify content left/right added in html */
}
/* ----------contents---------- */

.subpage-content {
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5%;
  font-family: Futura-lt;
  font-weight: light;

  /* text align left/right added in html */
}

/* ----------content imgs---------- */

.subpage-content img {
  width: 50%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.audio-bg {
  background-color: black;
}

.alastor {
  background-color: black;
}



.hamburger-menu-icon {
  /* height: 40%;
  width: auto; */

  /* THE BELOW CODE IS STOLEN FROM COLLINS WEBSITE, THANKS COLLIN */
  /* margin-right: 10px; */
  /* margin-right: 1vw; */
  /* width: 30px; */
  width: 6vw;
  /* height: 30px; */
  height: 6vw;
  cursor: pointer;
  background-color: black;
  mask-image: url("./assets/header//hamburg/hamburgerMenuIcon.png");
  mask-size: cover;
  z-index: 100;
}

.hamburger-button {
  position: relative;
  margin-left: auto;
  /* right: 32px; */
  right: 3vw;
  background-color:rgba(0,0, 0, 0);
  border: rgba(0,0,0,0);
  cursor: pointer;

  /* THE BELOW CODE IS STOLEN FROM COLLINS WEBSITE, THANKS COLLIN */
  /* margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  mask-image: url("./assets/header/hamburg/hamburgerMenuIcon.png");
  mask-size: cover; */
}

.dropdown-links {
  font-family: Futura;
  font-weight: 300;
  width: 50vw;
  z-index: 2;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: right;
  /* padding-right: 32px; */

}
.dropdown-links-background {
  margin-left: auto;
  width: min-content;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 119, 40);
  /* border-bottom-left-radius: 10px; */
}
.dropdown-link {
  width: calc(100% - 32px);
  position: relative;
  font-size: 4vh;
  margin-right: 32px;
  text-align: right;
  font-family: Futura;
  font-weight: light;
  /* margin-left: auto; */
}
html, body {
  overflow-x: hidden;
}

.hidden {
  visibility: hidden !important;
}

.visible {
  visibility: visible;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* THE BELOW CODE IS STOLEN FROM COLLINS WEBSITE, THANKS COLLIN */
@media (max-width: 850px) {

  .links {
    display: none;
  }

  .hamburger-menu-icon {
    display: inline;
  }
  .dropdown-links-background {
    display: inline;
  }
}

/* THE BELOW CODE IS STOLEN FROM COLLINS WEBSITE, THANKS COLLIN */
@media (min-width: 850px) {
  /* .links a {
    display: none;
  } */

  .hamburger-menu-icon {
    display: none;
  }
  .dropdown-links-background {
    display: none;
  }
}

.calendar {
  display: block;
  margin: 0 auto;
  padding-bottom: 2.5%;
}
