/* affects the entire body, and the HTML */
body, html {

    width: 100%;
    height: 100%;
    background-color: black;
}

/* affects all paragraph text entries */
p {
    color: white;
}

/* affects all links */
a {
    color: white;
}

/* a general class for centering something */
.center {
    text-align: center;
}

/*
if there is anything that contains an <a> tag within, this shold be applied
it makes it so that when you hover over the link it changes the color
this does not directly apply to the link tag itself, but anything containing it
*/

.link-container :hover {
    color: gray;
}

/* affects the link on the header */
.header-link {
    text-decoration: none;

    /* idk some stack overflow stuff */
    /* https://stackoverflow.com/questions/11078509/how-to-increase-the-clickable-area-of-a-a-tag-button */
    /* display: inline-block; */
    /* position: relative; */
    /* z-index: 1; */
    /* padding: 1em; */
    /* margin: -2em; */
}

/* affects the iframe linking the video */
iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
    user-select: none; /* https://stackoverflow.com/questions/70029125/how-to-disable-iframe-from-being-highlighted */
    padding-bottom: 10vw;
}