/* ---------------------- UNIFORM STYLING ---------------------- */

/* general header stuff */
header {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100vw;
  height: clamp(60px, 5vw, 80px); /* keep between 60px and 100px */
  background-color: rgba(245, 112, 41, 1); /** Old: rgba(255, 94, 41, 1) */
  backdrop-filter: blur(10px);
  display: flex;
  align-content: center;
  justify-content: left;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.18)
}

/* general html */
html {
  overflow-x: hidden;
  /*
  if page is too short or you scroll past end of the page (some browsers do that before "bouncing" you back up),
  then you just see the color of the footer instead of white
  */
  background-color: rgb(49, 49, 49);
}

/* general body stuff */
body {
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  margin-top: clamp(60px, 5vw, 80px);
  left: 0px;
  width: 100%;
  height: 200%;
  background-color: #f3f4ec; /* not final. for seeing where different elements start and end. */
}

/* general h1 stuff */
h1{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 100;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* TODO */
#title {
  z-index: 2;
  position: relative;
  margin: 0px;
  margin-left: clamp(15px, 2.5vw, 30px); /* clamp range scaled for percentage of viewport width */
  height: fit-content;
  width: max-content;
  font-weight: bolder;
  align-self: center;
  font-size: clamp(18px, 3vw, 36px); /* clamp range scaled for percentage of viewport width */
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline-block;
  white-space: nowrap;
}

/* TODO */
#logo {
  z-index: 2;
  position: relative;
  scale: 80%;
}

/* ---------------------- UTIL ---------------------- */

/* for links in header, footer, etc */
.navigationLink {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

/* for links in header, footer, etc */
.navigationLink:hover{
  color: #d0d0d0
}

/* hidden class */
.hidden {
  visibility: hidden !important;
}

/* visible class */
.visible {
  visibility: visible;
}

/* prevents something from being selected */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* formatting for media */
@media (max-width: 850px) {

  .links {
    display: none;
  }

  .hamburger-menu-icon {
    display: inline;
  }
  .dropdown-links-background {
    display: inline;
  }
}

/* formatting for media */
@media (min-width: 850px) {
  /* .links a {
    display: none;
  } */

  .hamburger-menu-icon {
    display: none;
  }
  .dropdown-links-background {
    display: none;
  }
}

/* ---------------------- HEADER ---------------------- */

/* to evenly space and put the links at the top */
.links {
  position: relative;
  font-size: 1.25vw;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Futura-lt, 'Courier New', Courier, monospace;
  font-style: normal;
  color: white;
}


/* TODO remove? */
.body-img{
  margin-left: 50%;
  transform: translateX(-50%);
  height: 40vmin;
  margin-top: 24px;
  margin-bottom: 24px;
}


/* to make a splash screen at top of page */
.splash-screen {
  /* moving image */
  position: relative;
  width: 100%;
  /* moving image */
  top: -25%;
  opacity: 0.74;
}

/* wrapper for splash screen */
.splash-screen-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 575px;
  overflow: hidden;
  background-color:black;
}

/* ---------------------- FOOTER ---------------------- */

/* for footer */
.footer {
  width: 100%;
  background-color: rgb(49, 49, 49);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Futura-lt;
  font-weight: lighter;
  color: white;
}

/* for footer */
.footer-scale {
  width: 45px;
  height: 45px;
}

/* icon wrapper */
.icon-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 1%;
}

/* ---------------------- MOBILE MENU ---------------------- */

/* for the icon itself */
.hamburger-menu-icon {
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  background-color: black;
  mask-image: url("/assets/header/hamburg/hamburgerMenuIcon.png");
  mask-size: cover;
  z-index: 100;
}

/* container */
.hamburger-button {
  position: relative;
  margin-left: auto;
  /* right: 32px; */
  right: 3vw;
  background-color:rgba(0,0, 0, 0);
  border: rgba(0,0,0,0);
  cursor: pointer;
}

/* dropdown for the hamburger menu */
.dropdown-links {
  font-family: Futura;
  font-weight: 300;
  width: 50vw;
  z-index: 2;
  position: fixed;
  width: 100vw; /*reset to CSS default before measuring, so resize always starts fresh*/
  display: flex;
  justify-content: right;
  z-index: 20;
}

/* background / coloring for dropdown menu */
.dropdown-links-background {
  margin-left: auto;
  width: min-content;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 119, 40);
  z-index: 20;
}

/* the dropwdown links themselves */
.dropdown-link {
  width: calc(100% - 32px);
  position: relative;
  font-size: 4vh;
  margin-right: 32px;
  text-align: right;
  font-family: Futura;
  font-weight: lighter;
  /* margin-left: auto; */
  text-decoration: none;
  color: white;
  z-index: 20;
}