/* 
for the disclaimer text at the top 
*/
.centered{
    text-align: center; 
}

/* 
for the div of contributors
just shifts to the right a little? 
*/
.shifted_right {
    padding-left: 1%;
}

/* 
spacing to have the footer be normal and not at the top of the screen
*/
.spacer{
    padding-bottom: 5%;
}